@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: 
#f0f2f5;
    color: 
#1c1e21;
}

input,
button,
a {
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding-top: 72px;
}

.container .wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
}

.brand .logo {
    display: block;
    direction: ltr;
}

.logo img {
    max-width: 350px;
    margin-left: -36px;
}

.heading {
    font-weight: 400;
    font-size: 28px;
    margin: 0;
}

.form-container {
    background-color: 
white;
    border-radius: 8px;
    box-shadow: 0 2px 4px 
rgba(0, 0, 0, 0.1), 0 8px 16px 
rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 400px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.inputtext {
    background: 
#ffffff
        url(https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/O7nelmd9XSI.png)
        repeat-x;
    border: 1px solid 
#dddfe2;
    padding: 15px;
    border-radius: 6px;
    font-size: 17px;
    color: 
#1d2129;
}

.inputtext::-moz-placeholder {
    color: 
rgb(164, 167, 171);
}

.inputtext::placeholder {
    color: 
rgb(164, 167, 171);
}

.inputtext:focus {
    box-shadow: 0 0 0 2px 
#e7f3ff;
    border-color: 
#0866ff;
    caret-color: 
#0866ff;
}

button[type="submit"] {
    background: 
#0866ff;
    color: 
white;
    border-radius: 6px;
    border: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.forgot-password {
    text-align: center;
    border-bottom: 1px solid 
#dadde1;
    padding-bottom: 15px;
}

.forgot-password a {
    color: 
#0866ff;
    font-size: 14px;
}

.create-account {
    text-align: center;
    padding-top: 15px;
}

.create-account a {
    display: inline-block;
    background: 
#42b72a;
    color: 
#ffffff;
    font-weight: 700;
    padding: 15px;
    border-radius: 6px;
    text-decoration: none !important;
}
.create-account a:hover {
    background: 
#00a400;
}

.create-page {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.create-page a {
    color: 
#1c1e21;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 0;
    }
    .container .wrapper {
        flex-direction: column;
        max-width: 400px;
    }
    .form-container {
        min-width: unset;
    }
    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brand img {
        width: unset;
        margin: unset;
        margin-top: -20px;
    }
    .brand .heading {
        font-size: 24px;
        text-align: center;
    }
}
